@{
    ViewData["Title"] = "About";
}
@model IEnumerable<UserViewModel>

@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

<H2>User in database : </H2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td>@item.UserName</td><td> @item.Email</td></tr>
        }
    </tbody>
</table>
